@using Restorant.DTOs.CartDtos
@model IEnumerable<AddOrderItem>
<style>
        .item
        {
            height: 100px;
            display: flex;
            margin-top: 10px;
            justify-content:flex-start;
            border: 1px solid #e5dbdb;
            background-color: #df5f04;
            width: 80%;
        }

      
        p{
            margin-left:5%
        }
        
</style>
<section style=" width:100%;background-color:black;text-align:center ;margin-top:50px; padding:100px 0 100px 0 ">
    <div class="container" style="width:70%">
        @foreach (var meal in Model)
        {
            <div class="item" style="width:100%">
                <img src="~/images/@meal.ImageUrl" width="100px" style="margin-right:5%">
                <div style="padding-top:20px; display:flex; justify-content:space-evenly; width:40%">
                    <h4 style="width:40%">@meal.Name</h4>

                    <p style="margin-left:30px">
                        <span class="Quan"><a asp-action="DecreaseQantity" asp-controller="Cart" asp-route-id="@meal.MenuItemId" style="color:white"><i class="bi bi-dash-square" style="color:black;font-size:20px"></i></a></span>
                        <span style="font-size:20px">@meal.Quantity</span>
                        <span class="Quan"><a asp-action="IcreaseQantity" asp-controller="Cart" asp-route-id="@meal.MenuItemId" style="color:white"><i class="bi bi-plus-square" style="color:black; font-size:20px"></i></a></span>
                    </p>
                    <h4>Price:@meal.Price EGP</h4>
                </div>
            </div>



        }
        @if(Model.Count() >0)
        {
            <div class="item" style="text-align:center; width:100%;padding-top:10px; display:block">
                <h5>Total Price = @ViewBag.totalPrice EGP</h5>
                <h5> Total Price After Discount 20% = @ViewBag.dicount EGP</h5>
            </div>
            <div style="text-align:center"><a asp-action="CreateOrder" class="btn" style="background-color:#df5f04; padding:10px;margin-top:20px"> <h5>Order Now</h5></a></div>

        }
        else
        {
            <div class="item" style="text-align:center; width:100%;padding-top:10px; display:block">
                <h5>Your Cart Is Empty</h5>
            </div>
            
        }
    </div>
</section>