

@using Restorant.DTOs.CategoryDtos
@model List<GetAllCategoriesDto>
<style>
    .cat_img 
    {
        padding-left: var(--bs-gutter-x, 0rem);
        padding-right: var(--bs-gutter-x, 0rem);
        height: 200px;

        
    }
    .article
    {
        position:absolute;
        width:100%
    }
    .opa_a
    {
        background-color:#df5f04;
        color:black;
        border:1px solid black;
        padding:15px;
    }
    .opa_art
    {
        background-color:black; 
        opacity:.6;
        text-align: center;
        align-items:center;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }

    .cat{
        margin:10px 20px 10px 10px;
        width:20%;
        height: 410px;
        text-align: center;
        color: #df5f04;
        border: 1px solid #df5f04;
        box-shadow: 1px 1px 2px 2px #df5f04;


    }

    .cat_items
    {
        
    }

   
</style>

<section style="position:relative">
    <section style="margin-top:50px">
        <article class="index_carousel article">
            <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel" style="">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                     <img src="~/images/backgr1.jpg" class="d-block w-100"  alt="...">
                   </div>
                    <div class="carousel-item ">
                        <img src="~/images/back3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/back1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </article>
        <article class="opa_art index_carousel article" style="">
            <div class="opa" style="position:relative; text-align:center;align-items:center;">
                <a class="opa_a" style=" opacity:10;text-decoration:none;border:1px solid black; position:relative;">Welcom in My Restaurant </a>
             </div>
        </article>
        <hr />
        <br />
    </section>
    @* <partial name="ItemCardView"  model="@Model"/>  *@
   

    <section class="container-fluid cat_items" style="text-align:center;padding-top:20px;justify-content:center;width:100%; position:relative;background-color:black">
        <div>
            <h2 style="text-align:center; color:#df5f04;margin:50px">Categories</h2>
        </div>
        <div class=" row row-cols-2 row-cols-sm-2 row-cols-md-3 g-2 gx-5 p-2  justify-content-between" id="cards_row">
        @foreach (var item in Model)
        {
            <div class=" col cat">
                
                    <img src="~/images/@item.ImageUrl" class="img-fluid cat_img " width="100%">
               
                <br />
                <h5 style="margin-top:10px">@item.Name</h5>
                <p style="height:80px">@item.Description</p>
                <div style=" text-align:center">
                        <a asp-action="CategoryItems" asp-controller="Meal" asp-route-id="@item.Id" class="btn" style="background:#df5f04;text-decoration:none;margin-bottom:20px;border:1px solid black; padding:10px">
                            Show all @item.Name
                        </a>
                </div>
            </div>
        }
       </div>
    </section>
</section>