@using Restorant.DTOs.CategoryDtos
@model List<GetAllCategoriesDto>

<style>
    body {
        margin-left: 0;
        background-color: black;
    }

    h1 {
        margin-top: 100px;
        margin-bottom: 30px
    }

    td {
        white-space: nowrap
    }

    img {
        width: 60px;
        height: 60px;
    }

    p {
        margin-top: 50px;
    }

    a {
        margin: 10px;
    }
</style>

<article class="container" style="text-align:center">
    <h1 style="color:#df5f04">All Categories</h1>
    <table class="table table-bordered " style="border:2px solid #df5f04; background-color:black; color:whitesmoke">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Image
                </th>

                <th>
                    Description
                </th>
                <th style="width:200px">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr style="height:50px">
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td style="text-align:center">
                        <img src="~/images/@item.ImageUrl" />

                    </td>

                    <td>
                        @item.Description
                    </td>
                    <td>
                        <a asp-action=""><i class="bi bi-eye" style="color:blue"></i></a>
                        <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id"><i class="bi bi-pencil-square" style="color:darkblue"></i></a>
                        <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id"><i class="bi bi-trash" style="color:red"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Create" asp-controller="Category" class="btn" style="background-color:#df5f04; margin:20px">Add Category</a>
        <a asp-action="AdminAuton" asp-controller="Role" class="btn" style="background-color:#df5f04; margin:20px">Back</a>
    </p>

</article>
